@media only screen and (max-width: 400px) {
  .searchContent {
    margin-top: 20px;
  }
}

body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: 100%;
}

.mainCont {
    background-color: black;
    color: white;
}

.horizontal-scrollable {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: auto;
    white-space: nowrap;
}

.scroller::-webkit-scrollbar-track{
    background: transparent;
    -webkit-overflow-scrolling: touch;
}

.scroller::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}

.scroller::-webkit-scrollbar-thumb{
    background: #141414; 
    border-radius: 10px;
}

.hs {
    display: inline-block;
    margin: 10px;
}

*:focus {
    outline: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    color: white;
    border: none;
    overflow: hidden;
  }

  .selector select option {
    display: inline-block;
    margin: 10px;
  }

  .selector {
    display: inline-block;
    vertical-align: top;
  }

  .sub {
    border-left: 4px solid red;
    padding-left: 10px;
  }

  option:hover {
    background-color: #212121;
    border-radius: 5px;
  }

  option:checked {
    border-radius: 5px;
    background-color: #808080;
    color: white;
  }

  option {
    font-weight: 500;
  }

  .searchContainer {
    margin-bottom: 50px;
  }

  .searchContent {
    color: #ADEFD1FF;
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .sectionz {
    background-image: url('../../assets/searchBackground.png');
    background-size: cover;
    min-height: 300px;
    max-height: 360px;
    height: calc(100vh / 2.5);
    background-position: top center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }

  .searchInput {
    width: 80%;
    height: 35px;
    display: flex;
  }

  .searchButton {
    height: 35px;
    margin-left: 5px;
  }

  .searchForm {
    display: flex;
    margin-top: 20px;
  }

  .searchTitle1 {
    font-size: calc(2em + 1.5vw);
    font-weight: 700;
    width: 100%;
  }

  .searchTitle2 {
    font-size: calc(1em + 1.5vw);
    font-weight: 600;
    width: 100%;
  }

  


